# a comment
# ONLY lines starting with a '#' are comments
# all cfg files must be in the cfg folder

# map file name
map: map_huge

# player display name
username: Player

# max turns in classic mode
max_turns_classic: 500

# max turns in survival mode
max_turns_survival: 100

# bonus spawn interval ( bonus spawns every X turns at given location(s) )
bonus_interval: 15

# bonus duration ( pacman has the ability to eat 1 ghost for X turns after collecting a bonus )
bonus_duration: 10

# if player gets closer than X to "sleeping" ghosts, they start chasing him
ghost_aggressive_range: 10

# allow ghosts to use portals [yes,y,1] / [no,n,0]
ghosts_portals_allowed: yes
