# a comment
# all cfg files must be in the cfg folder

# map file name
map: map.cfg

# player display name
username: <customize name in cfg file>

# max turns in classic mode
max_turns_classic: 100

# max turns in survival mode
max_turns_survival: 10

# bonus spawn interval ( bonus spawns every X turns at given location(s) )
bonus_interval: 10

# bonus duration ( pacman has the ability to eat 1 ghost for X turns after collecting a bonus )
bonus_duration: 10

# if player gets closer than X to ghost B at any time,
#   or closer than X to ghost C, ghost starts chasing him
ghost_aggressive_range: 5

# allow ghosts to use portals [yes/no]
ghosts_portals_allowed: yes
